Repository EspenK/repost-spring, pull requests merged in 2020-03, with the labels that each got.

#20 Add datamodels and repositories for resub, post, comment and user
  pom.xml
  src/main/java/me/kverna/spring/repost/data/Comment.java
  src/main/java/me/kverna/spring/repost/data/Post.java
  src/main/java/me/kverna/spring/repost/data/Resub.java
  src/main/java/me/kverna/spring/repost/data/User.java
  src/main/java/me/kverna/spring/repost/repository/CommentRepository.java
  src/main/java/me/kverna/spring/repost/repository/PostRepository.java
  src/main/java/me/kverna/spring/repost/repository/ResubRepository.java
  src/main/java/me/kverna/spring/repost/repository/UserRepository.java
  src/main/resources/application.properties
Labels: database, model

#22 Add OpenAPI/Swagger, change models and start service and controller implementation for resub
  pom.xml
  src/main/java/me/kverna/spring/repost/controller/ResubController.java
  src/main/java/me/kverna/spring/repost/data/Comment.java
  src/main/java/me/kverna/spring/repost/data/EditResub.java
  src/main/java/me/kverna/spring/repost/data/Post.java
  src/main/java/me/kverna/spring/repost/data/Resub.java
  src/main/java/me/kverna/spring/repost/data/User.java
  src/main/java/me/kverna/spring/repost/repository/ResubRepository.java
  src/main/java/me/kverna/spring/repost/service/ResubService.java
  src/main/resources/application.properties
Labels: controller, documentation, model, service

#25 Add Spring Security dependency for BCrypt
  pom.xml
  src/main/java/me/kverna/spring/repost/RepostApplication.java
  src/main/java/me/kverna/spring/repost/config/SecurityConfig.java
Labels: enhancement

#27 Resub and (partially) User controller og service
  src/main/java/me/kverna/spring/repost/controller/ResubController.java
  src/main/java/me/kverna/spring/repost/controller/UserController.java
  src/main/java/me/kverna/spring/repost/data/Comment.java
  src/main/java/me/kverna/spring/repost/data/CreatePost.java
  src/main/java/me/kverna/spring/repost/data/CreateResub.java
  src/main/java/me/kverna/spring/repost/data/CreateUser.java
  src/main/java/me/kverna/spring/repost/data/EditPost.java
  src/main/java/me/kverna/spring/repost/data/EditUser.java
  src/main/java/me/kverna/spring/repost/data/Post.java
  src/main/java/me/kverna/spring/repost/data/Resub.java
  src/main/java/me/kverna/spring/repost/data/User.java
  src/main/java/me/kverna/spring/repost/repository/CommentRepository.java
  src/main/java/me/kverna/spring/repost/repository/PostRepository.java
  src/main/java/me/kverna/spring/repost/repository/ResubRepository.java
  src/main/java/me/kverna/spring/repost/repository/UserRepository.java
  src/main/java/me/kverna/spring/repost/service/PostService.java
  src/main/java/me/kverna/spring/repost/service/ResubService.java
  src/main/java/me/kverna/spring/repost/service/UserService.java
Labels: controller, documentation, enhancement, service

#31 Implement OAuth2 using spring security
  pom.xml
  src/main/java/me/kverna/spring/repost/WebMvcContext.java
  src/main/java/me/kverna/spring/repost/controller/UserController.java
  src/main/java/me/kverna/spring/repost/openapi/OpenApiConfig.java
  src/main/java/me/kverna/spring/repost/security/AuthorizationServerConfiguration.java
  src/main/java/me/kverna/spring/repost/security/AuthorizeUser.java
  src/main/java/me/kverna/spring/repost/security/AuthorizedUserResolver.java
  src/main/java/me/kverna/spring/repost/security/CurrentUser.java
  src/main/java/me/kverna/spring/repost/security/PasswordEncoderConfiguration.java
  src/main/java/me/kverna/spring/repost/security/RepostUserDetailsService.java
  src/main/java/me/kverna/spring/repost/security/ResourceServerConfiguration.java
  src/main/java/me/kverna/spring/repost/security/UserDetailsAuthenticationProvider.java
  src/main/java/me/kverna/spring/repost/security/WebSecurityConfig.java
  src/main/resources/application.properties
Labels: enhancement

#32 Remove avatar_url and bio fields from CreateUser
  src/main/java/me/kverna/spring/repost/data/CreateUser.java
  src/main/java/me/kverna/spring/repost/service/UserService.java
Labels: bug

#34 Add the remaining methods to user controller and service
  src/main/java/me/kverna/spring/repost/controller/UserController.java
  src/main/java/me/kverna/spring/repost/service/UserService.java
Labels: controller, service

#35 Add CommentService, add user check to patch and delete in services
  src/main/java/me/kverna/spring/repost/controller/ResubController.java
  src/main/java/me/kverna/spring/repost/data/Comment.java
  src/main/java/me/kverna/spring/repost/data/CreateComment.java
  src/main/java/me/kverna/spring/repost/data/EditComment.java
  src/main/java/me/kverna/spring/repost/data/EditResub.java
  src/main/java/me/kverna/spring/repost/data/Post.java
  src/main/java/me/kverna/spring/repost/data/Resub.java
  src/main/java/me/kverna/spring/repost/service/CommentService.java
  src/main/java/me/kverna/spring/repost/service/PostService.java
  src/main/java/me/kverna/spring/repost/service/ResubService.java
Labels: model, service

#36 Add CommentController and PostController, refactor some of UserController and ResubController
  src/main/java/me/kverna/spring/repost/controller/CommentController.java
  src/main/java/me/kverna/spring/repost/controller/PostController.java
  src/main/java/me/kverna/spring/repost/controller/ResubController.java
  src/main/java/me/kverna/spring/repost/controller/UserController.java
  src/main/java/me/kverna/spring/repost/data/Comment.java
  src/main/java/me/kverna/spring/repost/data/EditComment.java
  src/main/java/me/kverna/spring/repost/data/EditPost.java
  src/main/java/me/kverna/spring/repost/data/EditResub.java
  src/main/java/me/kverna/spring/repost/data/EditUser.java
  src/main/java/me/kverna/spring/repost/data/Post.java
  src/main/java/me/kverna/spring/repost/security/AuthorizedUserResolver.java
  src/main/java/me/kverna/spring/repost/service/CommentService.java
  src/main/java/me/kverna/spring/repost/service/PostService.java
  src/main/java/me/kverna/spring/repost/service/ResubService.java
  src/main/java/me/kverna/spring/repost/service/UserService.java
Labels: bug, controller

#41 Implement voting on posts and comments
  src/main/java/me/kverna/spring/repost/RestExceptionHandler.java
  src/main/java/me/kverna/spring/repost/WebMvcContext.java
  src/main/java/me/kverna/spring/repost/controller/CommentController.java
  src/main/java/me/kverna/spring/repost/controller/PostController.java
  src/main/java/me/kverna/spring/repost/data/Comment.java
  src/main/java/me/kverna/spring/repost/data/CommentVote.java
  src/main/java/me/kverna/spring/repost/data/Post.java
  src/main/java/me/kverna/spring/repost/data/PostVote.java
  src/main/java/me/kverna/spring/repost/repository/CommentVoteRepository.java
  src/main/java/me/kverna/spring/repost/repository/PostVoteRepository.java
  src/main/java/me/kverna/spring/repost/service/CommentService.java
  src/main/java/me/kverna/spring/repost/service/PostService.java
Labels: enhancement
